.AchievmentSection {
    width: 90vw;
    margin: 20vh auto !important;
}

.h2OfAchievmentSection {
    font-family: "DM Serif Text";
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.achiementsDiv {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.singleAchiement {
    width: 300px;
    text-align: center;
    flex: 1;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px rgba(255, 255, 255, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black !important;
    scale: 1;
    cursor: pointer;
    transition: all .5s ease-out;
}

.singleAchiement:hover {
    scale: 1.08;
}


.singleAchiement img {
    width: 200px;
    height: 280px;
    object-fit: contain;
}

.headingOfAchievements {
    font-weight: bold;
}