.ClubsSection {
    width: 90vw;
    margin: 20vh auto !important;
}

.h2OfClubsSection {
    font-family: "DM Serif Text";
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.currentTeamsLine,
.previousTeamsLine {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}


.currentTeamsDiv,
.previosTeamsDiv {
    background-color: white;
    flex: 1;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px rgba(255, 255, 255, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black !important;
    scale: 1;
    cursor: pointer;
    text-align: center;
    transition: all .5s ease-out;
}

.currentTeamsDiv:hover,
.previosTeamsDiv:hover {
    scale: 1.08;
}

.currentTeamsDiv {
    width: 450px;
    height: 500px;
}

.previosTeamsDiv {
    width: 350px;
    height: 450px;
}

.currentTeamsDiv img,
.previosTeamsDiv img {
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.headingOfPreviosTeams,
.headingOfCurrentTeams {
    font-weight: bold;
}